@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,900');

html, body {
	height: 100%;
	background-color: #262626;
	overflow: hidden;
	color: white;
	font-family: 'Open Sans', sans-serif;
}
#change {
	font-weight: 900;
}
.int {
	display: table;
	height: 100%;
	width: 100%;
}

.cont {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.cont img {
	margin-top: -50px;
	margin-bottom: 20px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}