html, body{
	height: 100%;
	background-color: #2E3337;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.main {
	display: table;
	text-align: center;
	vertical-align: middle;
	height: 100%;
	width: 100%;
}
.logo {
	font-family: 'Pacifico', cursive;
	font-size: 28px;
	color: white;
}

.login-box {
	display: table-cell;
	vertical-align: middle;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	color: #51555F;
	font-size: 12px;
}

.login-box .details {
	padding-top: 20px;
}

.login-box .details a {
	color: white;
	text-decoration: none;
}

.login-box form {
	margin: auto;
	width: 300px;
	display: block;
}

::-webkit-input-placeholder {
   color: #51555F;
}

:-moz-placeholder { /* Firefox 18- */
   color: #51555F;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #51555F;  
}

:-ms-input-placeholder {  
   color: #51555F;  
}

input{
	background-color: #3B3F4A;
	border: 0;
	width: 276px;
	padding: 12px;
	margin: 8px;
	border-radius: 3px;
	font-size: 14px;
	color: white;
}

button {
	width: 300px;
	border-radius: 3px;
	margin: 8px;
	padding: 10px;
	font-weight: bolder;
	color: white;
	background-color: #4FC1E9;
	border:none;
}